{%extends 'base.html'%}
{% load static widget_tweaks %}


{%block css %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}">
{%endblock%}

{% block title%}
ログイン画面
{% endblock %}

{%block content%}
    <main>
        <div class="login-form">
            <form method="post" action="{% url 'authentication:login' %}" class="login-form_area">
                {% csrf_token %}
                <div class="login-form_title">ログイン画面</div>
                <div class="login-form_inputarea">
                    <label for="userid" class="login-form__label">メールアドレス</label>
                    {{form.username|add_class:'login-form_inputbox'}}
                    <label for="password" class="login-form__label">パスワード</label>
                    {{form.password|add_class:'login-form_inputbox'}}
                </div>
                <input type="submit" value="ログイン" class="btn btn--info">
            </form>
            <p class="message">アカウントをお持ちですか？：
            <a href="{% url 'authentication:register' %}">アカウントを作成</a>
            </p>
        </div>
    </main>
</html>
{%endblock%}