{%extends 'base.html'%}
{% load static %}


{%block css %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}">
{%endblock%}

{% block title%}
ログイン画面
{% endblock %}

{%block content%}
    <div class="main">
        <div class="main-element">
            <h1>ログイン画面</h1>

            <form method="post" action="{% url 'authentication:login' %}">
                {% csrf_token %}
                
                <label for="userid">ユーザーID:</label>
                <input type="text" name="userid"><br><br>
                <label for="password">パスワード：</label>
                <input type="password" name="password"><br><br>
                

                <input type="submit" value="Login" class="btn2">
            </form>
            
            <p class="message">アカウントをお持ちですか？：
            <a href="{% url 'authentication:register' %}">アカウントを作成</a>
            </p>
        </div>
    </div>
</html>
{%endblock%}