{%extends 'base.html'%}
{% load static %}


{%block css %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}">
{%endblock%}

{% block title%}
ログイン画面
{% endblock %}

{%block content%}
    <main>
        <div class="login-form">
            <h1 class="login-form_title">ログイン画面</h1>

            <form method="post" action="{% url 'authentication:login' %}" class="">
                {% csrf_token %}
                
                <label for="userid" class="login-form__label">メールアドレス:</label>
                <input type="text" name="userid"><br><br>
                <label for="password">パスワード：</label>
                <input type="password" name="password"><br><br>
                

                <input type="submit" value="Login" class="btn btn--info">
            </form>
            
            <p class="message">アカウントをお持ちですか？：
            <a href="{% url 'authentication:register' %}">アカウントを作成</a>
            </p>
        </div>
    </main>
</html>
{%endblock%}