{%extends "base.html" %}
{% load static %}

{% block title%}
ユーザー登録
{% endblock %}

{%block css%}
<link rel="stylesheet" href="{% static 'css/pages/register.css' %}">
{%endblock%}

{%block content%}
<div class="main">
    <div class="main-container">
        <h1>アカウント登録</h1><br>
        <form method ="post">
            {%csrf_token%}
            <h3>{{form.as_p}}</h3><br>
            <button type ="submit" class="btn2">登録</button>
        </form>
    </div>
</div>
{% endblock%}

