{%extends "base.html" %}
{% load static widget_tweaks %}

{% block title%}
ユーザー登録
{% endblock %}

{%block css%}
<link rel="stylesheet" href="{% static 'css/pages/register.css' %}">
{%endblock%}

{%block content%}
<div class="register-form">
        <form method ="post"  class="register-form_area">
            {%csrf_token%}
            <div class="regisrter-form_title">アカウント登録</div>
            <div class="register-form_label">ユーザー名</div>
            {{ form.username|add_class:'register-form_inputbox'}}
            <div class="register-form_label">メールアドレス</div>
            {{ form.email|add_class:'register-form_inputbox'}}
            <div class="register-form_label">パスワード</div>
            {{ form.password|add_class:'register-form_inputbox'}}
            <button type ="submit" class="btn2">登録</button>
        </form>
</div>
{% endblock%}

