{% load static %}

<!DOCTYPE html>

<html lang ="ja">



<head>
    <title>
    {% block title %}
    {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}   
</head>

<body>
    <header class ="header-section">
        <div>
                <a href="{% url 'book:home'%}"
                class="header-logo">LOGO</a>
        </div> 

        {% comment %} ログイン時はダッシュボードへ {% endcomment %}
        {% if user.is_authenticated %}
            <div class="navigation-container">
                <a href="{% url 'book:dashboard' %}" class="btn">ダッシュボード</a>
            </div>
        {% else %}
            <div class="navigation-container">
                <a href="{% url 'authentication:login' %}" class="btn">ログイン</a>
                <a href="{% url 'authentication:register'%}" class="btn">ユーザー登録</a>
            </div>
        {% endif %}
        
    </header>

    {% block content%}
    {% endblock%}
    
</body>

</html>