{% extends 'base.html' %}
{% load static %}

{% block title%}
bookmanagement
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
{% endblock%}


{% block content%}

    <h1>bookmanagementへ  ようこそ！</h1>

    <section>
    <div class="line-with-text">
        <div class="line"></div><h2 class="text">最近出版された書籍</h2><div class="line"></div>
    </div>
     <div class="flexbox">
        {% for book in latest_book_list%}
        <div class="flex_item">
            <div class="card">
                <div class="card__imgframe" style="background: url({{book.image.url}}) no-repeat center; background-size: contain;"></div>
                <div class="card__textbox">
                       <div class="card__titletext">
                               作品 : <a href="{% url 'book:detail' book.id %}">{{ book.title }}</a><br>
                       </div>
                               <div class="card__overviewtext">著者 : {{book.author}}</div>
                 </div>
             </div>
           </div>  
        {% endfor %}

    </section>    


    {% if latest_review_list %}
    <div class="line-with-text">
        <div class="line"></div><h2 class="text">最近レビューが追加された作品</h2><div class="line"></div>
    </div>
        <div class="flexbox">
            {% for review in latest_review_list %}
            <div class="flex_item">
                <div class="card">
                    <div class="card__imgframe" style="background: url({{review.book.image.url}}) no-repeat center; background-size: contain;"></div>
                    <div class="card__textbox">
                           <div class="card__titletext">
                                   作品 : <a href="{% url 'book:detail' review.book.id %}">{{ review.book.title }}</a><br>
                           </div>
                                   <div class="card__overviewtext">著者 : {{review.book.author}}</div>
                     </div>
                 </div>
               </div>  
            {% endfor %}

    {% endif %}

{% endblock%}
