
body {
   
    text-align: center;

}
.page-title{
    border-color: aliceblue;
}
/* フィールド全体のスタイル */
.your-css-class {
    width: 200px;
}

/* placeholderのスタイル */
.your-css-class::placeholder {
    color: #999; /* ヒントのテキストの色を変更 */
    font-style: italic; /* ヒントのテキストを斜体にする */
}

