body {
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    text-align: center;
}
.login-form{
    text-align: center;
}
.login-form_title{
    margin-bottom: 24px;
}
.login-form__label{
    font-weight: 700;
}