body {
    text-align: center;
}
.table{
    text-align: center;
    border:"1";
}
.table_item{
    padding: 28px;
    background-color: rgb(83, 163, 89);
}
.table_item2{
    padding: 4px;
}
.custom-textarea {
    border: 1px solid #ccc;
    padding: 16px;
}
.center-table {
    display: flex;
    justify-content: center;

}
.btn2{
    background-color: white;
    color:#191d01;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border-radius: 12px;
    width: 160px;
    height: 48px;
    margin:16px;

}
  