* {
    margin: 0;
    padding: 0;
}

.btn{
    background-color: #42bfa0;
    color:azure;
    text-decoration: none;
    padding: 12px;
    padding-top: 4px;
    border-radius: 10px;
}

