* {
    margin: 0;
    padding: 0;
}
.hidden {
    display: none;
}
.btn{
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #42bfa0;
}

.btn--primary{
    background-color: #42bfa0;
    color:azure;
}

.btn--info{
    margin: 16px;
    background-color: white;
    color:#191d01;
}

